<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1 class="title">
        Annotated PDFs
      </h1>
      <div class="text-center" [hidden]="!isAnonymous">
        <h5>You have limited functionality because you are not logged in. <a href="#" routerLink="/login"> Login </a> to
          use all functionality in the tool.
          <!--br>
          Currently, registration is not yet open for the general public - it will be opened once a new version of the
          Body of Knowledge is available - expected July 2020. Stay tuned! -->
        </h5>
      </div>
      <div class="text-center">
        <h5>Disclaimer: you are using a prototype release of the BoK Annotation Tool. This tool is currently under
          development
          and we are still experimenting with functionality and user interface. Bugs may occur. Thank you for your
          patience.
        </h5>
      </div>
      <div class="card card-accent-primary">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-4 col-md-2" >
              <button type="button" class="btn btn-block btn-outline-primary" routerLink="/newannotation/empty">
                Annotate new PDF
              </button>
            </div>
            <div class="col-sm-4 offset-md-4 col-md-4">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
                <input class="form-control" id="input1-group2" type="search" name="input1-group2" placeholder="Search"
                  autocomplete="search" [(ngModel)]="searchText" (keyup)="filter()" />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngFor="let m of filteredAnnotations">
            <div class="row" *ngIf="m.isPublic || (currentUser?.organizations?.indexOf(m.orgId) > -1)">
              <div class="col-md-10">
                <button type="button" class="btn text-justify" routerLink="/detail/{{ m._id }}">
                  <span>
                    <h1 style="display: inline;">{{ m.title }}</h1>
                    <h6 style="display: inline;" class="text-level text-secondary">{{ m.orgName }}  <span *ngIf="m.division"> - {{ m.division }} </span></h6>
                    <h6 *ngIf="!m.isPublic" style="display: inline;" class="text-level">Private</h6>
                    <h6 *ngIf="m.isPublic" style="display: inline;" class="text-level">Public</h6>
                    <br>
                    {{ m.concepts.length}} Knowledge
                  </span>
                  <p>
                    <span *ngIf="m.createdAt" class="text-lastupdated ">Created:
                      {{m.createdAt.toDate() | date:'dd-MMM-yyyy'}}
                  </span>
                  </p>
                </button>
              </div>

              <div class="col-md-2">
                <div class="row">
                  <div class="col-3 col-sm-3 col-md-3 no-padding">
                    <button type="button" class="btn btn-block btn-link" tooltip="Edit"
                            popoverTitle="Edit pdf file" placement="top"  routerLink="/newannotation/copy/{{ m._id }}">
                      <i class="fa fa-edit fa-lg mt-4"></i>
                    </button>
                  </div>
                  <div class="col-3 col-sm-3 col-md-3 no-padding">
                    <button type="button" class="btn btn-block btn-link" tooltip="Download"
                      popoverTitle="Download pdf file" placement="top"  (click)="downloadFile(m.url, m)">
                      <i class="fa fa-download fa-lg mt-4"></i>
                    </button>
                  </div>
                  <div class="col-3 col-sm-3 col-md-4 no-padding"
                    tooltip="{{isAnonymous? 'Login to be able to remove' : currentUser?.organizations?.indexOf(m.orgId) != -1 ?  'Remove' : 'You can remove only your own annotations'}}">
                    <button type="button" class="btn btn-block btn-link" data-toggle="modal"
                      (click)="dangerModal.show()"
                      [disabled]="isAnonymous || (currentUser?.organizations?.indexOf(m.orgId) == -1)">
                      <i class="fa fa-trash-o fa-lg mt-4"></i>
                    </button>
                  </div>
                </div>
              </div>
              <ng-template #popTemplateList>
                <app-popup idOP="{{m._id}}"></app-popup>
              </ng-template>
            </div>

            <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
              aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-danger" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Are you sure you want to delete this annotation?</h4>
                    <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>After you delete it it won't be accessible to anyone.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="dangerModal.hide()">Close</button>
                    <button type="button" class="btn btn-danger" (click)="removeFile(m._id)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->
<app-release-notes #releaseNotesModal></app-release-notes>
